a {
    text-decoration: none;
}

.header_content {
    max-width: auto;
    height: 320px;
    background-color: #F1F5F7;
}

.header_wrapper {
    max-width: auto;
    height: 42px;
    background-color: #293449;
    margin-bottom: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_menu {
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    height: 42px;
    width: 940px;
    justify-content: space-between;
    font-family: 'Cuprum';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.MainPageLogo {
    width: 220px;
    height: 47px;
    color: white;
    background-color: #EE3643;
    background-image: url(/Technomart-Project-for-HTMLAcademy/img/Logos/logo-technomart.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.searchform input {
    background-color: transparent;
    border: none;
    font-family: 'Cuprum';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmarks_link {
    width: 149px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket_link {
    width: 149px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ordening_link {
    width: 150px;
    height: 42px;
    background-color: #63A63E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description_wrapper {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.description {
    width: 197px;
    height: 71px;
    font-family: Cuprum;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    color: #EE3643;
    margin: 0px;
    display: flex;
    margin-left: 130px;
    margin-right: 113px;
}

.number div {
    width: 270px;
    height: 45px;
    border: white solid 5px;
    text-align: center;
    margin-right: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number>div>a {
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    color: #EE3643;
    border: none;
}

.number>:nth-child(2) {
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.enter_and_registration_links {
    display: flex;
    flex-wrap: wrap;
}

.enter_link {
    width: 121px;
    height: 45px;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    background-color: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration_link {
    display: flex;
    flex-wrap: wrap;
    margin-right: 130px;
    width: 150px;
    height: 45px;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

.indexpagenav ul {
    padding: 0%;
    margin-right: auto;
    margin-top: 40px;
    margin-left: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    width: 940px;
    height: 60px;
    text-decoration: none;
    list-style-type: none;
    color: white;
    background-color: #32425C;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    justify-content: space-around;
    text-align: center;
}

.main_content {
    display: block;
}

.services_and_adversting {
    margin-left: auto;
    margin-right: auto;
}

.services_and_adversting .saa1 {
    max-width: 940px;
    height: 123px;
    background-color: white;
    margin-top: 59px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.services_and_adversting .saa2 {
    max-width: 940px;
    max-height: 266px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.saa1 {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.saa2 {
    display: flex;
    justify-content: space-between;
}

.saa3 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.saa_item {
    width: 300px;
    height: 123px;
    color: white;
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
}

.materials {
    background-color: #FFBF47;
}

.instrument {
    background-color: #3BBCE3;
}

.technics {
    background-color: #DC91D8;
}

.sales {
    background-color: #8ED78F;
}

.delivery {
    background-color: #FFBF47;
}

.perforators {
    background-color: grey;
    width: 620px;
    height: 266px;
    color: white;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    background-image: url(/Technomart-Project-for-HTMLAcademy/img/content/perforators-first-image.jpg);
}

.item_presetation {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    height: 427px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.item_presetation button {
    text-decoration: none;
    width: 192px;
    height: 38px;
    background-color: #EE3643;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    margin-left: 442px;
    color: white;
}

.item_presentation-header {
    display: flex;
    margin-bottom: 20px;
    width: 940px;
    height: 89px;
    background-color: #F9F5F0;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    flex-wrap: wrap;
    align-items: center;
}

.item_container {
    text-align: center;
    align-items: center;
    width: 220px;
    height: 318px;
    border: #eaeaea solid 1px;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.item_container img {
    vertical-align: center;
}

.developers {
    margin-bottom: 70px;
    margin-top: 59px;
    width: 940px;
    height: 419px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.developers_header {
    width: 940px;
    height: 89px;
    background-color: #F9F5F0;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.developers_header button {
    text-decoration: none;
    width: 192px;
    height: 38px;
    background-color: #EE3643;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: none;
    margin-left: 339px;
    color: white;
}

.developers_logos {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.developers_logos_card {
    display: flex;
    width: 220px;
    height: 145px;
    border: #eaeaea solid 1px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.credit_delivery_warranty {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 522px;
    background: #F1F5F7;
    margin-bottom: 70px;
}

.contacts_and_map {
    width: 940px;
    height: 356px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.contacts_and_map h1 {
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.contacts_and_map p {
    font-family: PT Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.contacts_and_map ul {
    margin-top: 1px;
    list-style-type: none;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.technomart_company {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 355px;
}

.map {
    width: 300px;
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts_button {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 220px;
    height: 38px;
    background-color: #EE3643;
    border: none;
}

.map_button {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 300px;
    height: 38px;
    background-color: #EE3643;
    border: none;
}

.mainpagefooter {
    height: 330px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #293449;
}
