:root {
    --back1-color: #293449;
    --back2-color: #F1F5F7;
    --back3-color: #32425C;
    --buttoncolor-color: rgba(255, 255, 255, 0.3);
    --headersmain-color: #F9F5F0;
}

button a {
    text-decoration: none;
}

button {
    text-decoration: none;
}

.header_content {
    max-width: auto;
    height: 320px;
    background-color: var(--back2-color);
}

.header_wrapper {
    max-width: auto;
    height: 42px;
    background-color: var(--back1-color);
    margin-bottom: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_menu {
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    height: 42px;
    width: 940px;
    justify-content: space-between;
    font-family: 'Cuprum';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.MainPageLogo {
    width: 220px;
    height: 47px;
}

.searchform input {
    background-color: transparent;
    border: none;
    font-family: 'Cuprum';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmarks_link {
    width: 149px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket_link {
    width: 149px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ordening_link {
    width: 150px;
    height: 42px;
    background-color: #63A63E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description_wrapper {
    max-width: 100%;
    height: 320px;
    display: block;
    height: 273px;
    background-color: var(--back2-color);
    margin-bottom: 59px;
}

.description_content {
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.description {
    width: 197px;
    height: 71px;
    font-family: Cuprum;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    color: #EE3643;
    margin: 0px;
    display: flex;
}

.number div {
    width: 270px;
    height: 45px;
    border: white solid 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number>div>a {
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    color: #EE3643;
    border: none;
}

.number>:nth-child(2) {
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.enter_and_registration_links {
    display: flex;
    flex-wrap: wrap;
}

.enter_link {
    width: 121px;
    height: 45px;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    background-color: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration_link {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 45px;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

.indexpagenav ul {
    padding: 0%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    width: 940px;
    height: 60px;
    text-decoration: none;
    list-style-type: none;
    color: white;
    background-color: var(--back3-color);
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 59px;
}

.indexpagenav a {
    color: white;
    text-decoration: none;
}

.main_content {
    margin-top: 59px;
    display: block;
}

.services_and_adversting {
    margin-top: 59px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
}

.services_and_adversting .saa1 {
    max-width: 940px;
    height: 123px;
    background-color: white;
    margin-top: 59px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.services_and_adversting .saa2 {
    max-width: 940px;
    max-height: 266px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.saa1 {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.saa2 {
    display: flex;
    justify-content: space-between;
}

.saa3 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.saa_item {
    width: 300px;
    height: 123px;
    color: white;
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
}

.materials {
    background-color: #FFBF47;
    display: flex;
    flex-wrap: wrap;
}

.instrument {
    background-color: #3BBCE3;
    display: flex;
    flex-wrap: wrap;
}

.technics {
    background-color: #DC91D8;
    display: flex;
    flex-wrap: wrap;
}

.ssa-button_container {
    width: 157px;
    height: 123px;
}

.ssa-button_container p {
    margin-top: 20px;
    margin-left: 22px;
    margin-right: 0px;
    margin-bottom: 14px;
}

.ssa-button_container a {
    margin: 0px;
}

.saa_link {
    color: white;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    width: 135px;
    height: 38px;
    background-color: var(--buttoncolor-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
    margin-bottom: 21px;
}

.saa_link a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.saa-icon_container {
    height: 123px;
    width: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales {
    background-color: #8ED78F;
    display: flex;
    flex-wrap: wrap;
}

.delivery {
    background-color: #FFBF47;
    display: flex;
    flex-wrap: wrap;
}

.perforators {
    background-color: grey;
    width: 620px;
    height: 266px;
    color: white;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    background-image: url(/Technomart-Project-for-HTMLAcademy/img/content/perforators-first-image.jpg);
}

.item_presetation {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    height: 427px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.item_presetation button {
    text-decoration: none;
    width: 192px;
    height: 38px;
    background-color: #EE3643;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    margin-left: 414px;
    color: white;
}

.item_presentation-header {
    display: flex;
    margin-bottom: 20px;
    width: 940px;
    height: 89px;
    background-color: var(--headersmain-color);
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    flex-wrap: wrap;
    align-items: center;
}

.item_presentation-header a {
    color: white;
}

.item_presentation-header p {
    margin-left: 28px;
}

.item_container {
    text-align: center;
    align-items: center;
    width: 220px;
    height: 318px;
    border: #eaeaea solid 1px;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.item_container img {
    vertical-align: center;
}

.developers {
    margin-bottom: 70px;
    margin-top: 59px;
    width: 940px;
    height: 419px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.developers_header {
    width: 940px;
    height: 89px;
    background-color: var(--headersmain-color);
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.developers_header p {
    margin-left: 28px;
}

.developers_header a {
    color: white
}

.developers_header button {
    text-decoration: none;
    width: 192px;
    height: 38px;
    background-color: #EE3643;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: none;
    color: white;
    margin-left: 311px;
}

.developers_logos {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.developers_logos_card {
    display: flex;
    width: 220px;
    height: 145px;
    border: #eaeaea solid 1px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.credit_delivery_warranty {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 522px;
    background: #F1F5F7;
    margin-bottom: 70px;
}

.contacts_and_map {
    padding: 0px;
    width: 940px;
    height: 356px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.contacts_and_map h1 {
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.contacts_and_map p {
    font-family: PT Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.contacts_and_map ul {
    margin-top: 1px;
    list-style-type: none;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px;
}

.technomart_company {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 355px;
}

.technomart_company a {
    color: white;
}

.technomart_company li {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.technomart_company img {
    margin-right: 12px;
}

.map {
    width: 300px;
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts_button {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 220px;
    height: 38px;
    background-color: #EE3643;
    border: none;
}

.map a {
    color: white;
}

.map_button {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 300px;
    height: 38px;
    background-color: #EE3643;
    border: none;
}

.mainpagefooter {
    height: 193px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--back3-color);
}

.logo_footer {
    margin-right: 134px;
    padding: 0px;
}

.footer_navigation ul {
    margin-top: 37px;
    width: 546px;
    height: 24px;
    padding-left: 0px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    color: #F1F5F7;
    background-color: var(--back3-color);
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    justify-content: space-between;
    text-align: right;
}

.footer_navigation li {
    padding-left: 0px;
}

.footer_content_first {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_navigation a {
    color: var(--back2-color);
    text-decoration: none;
}

.footer_content_second {
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.footer_content_second ul {
    margin-top: 37px;
    width: 546px;
    height: 24px;
    padding: 0%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    color: #F1F5F7;
    background-color: var(--back3-color);
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    justify-content: space-between;
    text-align: right;
}

.footer_content_second a {
    color: #FFD180;
    text-decoration: none;
}

.footer_third_content {
    background-color: var(--back1-color);
    font-family: Cuprum;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    width: 940px;
    height: 107px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.footer_third_content a {
    color: #FFD180;
}

.footer_third_content_wripper {
    width: 100%;
    height: 107px;
    background-color: var(--back1-color);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
